html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

h1, h2, span {
  color: white;
}

button {
  background-color: steelblue;
}

button:hover, button:active, button:focus {
  background-color: darkslateblue;
  outline: none;
}

.container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-buttons {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.levels-header {
  width: 25%;
  height: 100%;
  margin: 0;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-button {
  width: 20%;
  height: 80%;
  margin: 0;
  border-radius: 10px;
  transition: all .5s;
  border: 1px solid white;
  color: white;
  font-size: 1em;
}

.game-controls {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.hints {
  width: 20;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.hint {
  width: calc(100vw * 0.3 * 0.1 * 0.8);
  height: 80%;
  margin: 0;
  border-radius: 10px;
  transition: all .5s;
  background: url(../img/hint.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-left: 10px;
}

.find {
  width: calc(100vw * 0.3 * 0.1 * 0.8);
  height: 80%;
  border-radius: 10px;
  transition: all .5s;
  background: url(../img/find.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 0 15px 0;
  padding: 0 15px 5px 0;
  font-size: 0.5em;
}

.undo {
  width: calc(100vw * 0.3 * 0.1 * 0.8);
  height: 80%;
  border-radius: 10px;
  transition: all .5s;
  background: url(../img/undo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 0 15px 0;
  padding: 0;
}

.lives {
  width: 20;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.live {
  width: calc(100vw * 0.3 * 0.1 * 0.8);
  height: 80%;
  margin: 0;
  border-radius: 10px;
  transition: all .5s;
  background: url(../img/live.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  visibility: visible;
}

.game-info {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.game-info-header {
  width: auto;
  height: 100%;
  margin: 0 10px 0 0;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viruses-count-container, .timer-container, .best-time-container {
  width: auto;
  height: 80%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 1.2em;
  font-weight: bold;
}

.start-over {
  width: calc(100vw * 0.3 * 0.1 * 0.65);
  height: 80%;
  margin: 0;
  border-radius: 10px;
  transition: all .5s;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.board-container {
  width: 100%;
  height: calc(100vw * .3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  background-color: transparent;
}

.cell {
  width: 24%;
  height: calc((100vw * .3) * 0.24);
  border: 1px solid white;
  border-radius: 5px;
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  font-size: 2em;
  position: relative;
  transition: all .5s;
}

.cell:hover {
  background-color: darkslateblue;
}

.marked {
  background-image: url(../img/biohazard.png);
}

.win {
  background-image: url(../img/win.png);
}

.lose {
  background-image: url(../img/lose.png);
}

.normal {
  background-image: url(../img/normal.png);
}

.smile {
  background-image: url(../img/smile.png);
}

.wrong {
  background: url(../img/wrong.png);
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}